body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
}
h1 {
  font-family: Doto;
}

h2 {
  font-family: "Doto";
}
h6 {
  font-size: 50px;
}
h6{
  we have dismissed already
}